@font-face {
  font-family: 'Literatura';
  src: url('./fonts/LiteraturaPastRegular.woff') format('woff'),
       url('./fonts/LiteraturaPastRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kommuna';
  src: url('./fonts/KommunaNormal1.10.woff') format('woff'),
       url('./fonts/KommunaNormal1.10.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KommunaBold';
  src: url('./fonts/KommunaNormalBold1.10.woff') format('woff'),
       url('./fonts/KommunaNormalBold1.10.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KommunaBlack';
  src: url('./fonts/KommunaNormalBlack1.10.woff') format('woff'),
       url('./fonts/KommunaNormalBlack1.10.otf') format('opentype');
  font-weight: 900; /* 900 je uobičajena vrednost za 'black' težinu */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KommunaNarrow';
  src: url('./fonts/KommunaNarrow1.10.woff') format('woff'),
       url('./fonts/KommunaNarrow1.10.otf') format('opentype');
  font-weight: 900; /* 900 je uobičajena vrednost za 'black' težinu */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KommunaNarrowBold';
  src: url('./fonts/KommunaNarrowBold.woff') format('woff'),
       url('./fonts/KommunaNarrowBold.otf') format('opentype');
  font-weight: 900; /* 900 je uobičajena vrednost za 'black' težinu */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KommunaUltraNarrow';
  src: url('./fonts/KommunaUltraNarrow1.10.woff') format('woff'),
       url('./fonts/KommunaUltraNarrow1.10.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GramatikaRegular';
  src: url('./fonts/GramatikaRegular1.00.woff') format('woff'),
       url('./fonts/GramatikaRegular1.00.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GramatikaBold';
  src: url('./fonts/GramatikaBold1.00.woff') format('woff'),
       url('./fonts/GramatikaBold1.00.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;}

  @font-face {
  font-family: 'GramatikaSlanted';
  src: url('./fonts/GramatikaSlanted1.00.woff') format('woff'),
       url('./fonts/GramatikaSlanted1.00.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;}

  @font-face {
    font-family: 'GramatikaShifted';
    src: url('./fonts/GramatikaShifted1.00.woff') format('woff'),
         url('./fonts/GramatikaShifted1.00.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'GramatikaBoldShifted';
    src: url('./fonts/GramatikaBoldShifted1.00.woff') format('woff'),
         url('./fonts/GramatikaBoldShifted1.00.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  
@font-face {
  font-family: 'Farmacia';
  src: url('./fonts/NG-Farmacia-TRIAL.woff2') format('woff'),
       url('./fonts/NG-Farmacia-TRIAL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



  *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}

html {
  font-size: 150%;
  line-height: 1;
  background: var(--bg);
color: var(--text);
 

}


h1 {
  font-family: KommunaUltraNarrow;
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.9;
    text-transform: uppercase;
  
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: KommunaUltraNarrow;
}

h3 {
  font-size: 1.35rem;
  font-family: GramatikaSlanted;
  font-weight: 400;
  line-height: 1;
  
}

p {
  font-size: 1rem;
  font-weight: 400;
  font-family: Gramatika;
  line-height: 1;
}

figcaption {
  font-size: 0.8rem;
  font-family: Gramatikaregular;
  font-weight: 400;
}

a {
  font-family: 'Gramatika';
  color: var(--text);
}

/* Basic/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  padding: 0 5%;

}



/* heder/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header{
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}



/* heder/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/* CONTENT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 2rem;
}

.con11 a{
  padding-block: 1rem;
  font-size: 0.8rem;
  text-decoration: underline;
}


.con11 h1 {
  position: relative;
  padding-bottom: 1rem;
}

.con11 h1::after {
  content: "";

  position: absolute;
  left: 50%;
  bottom: 0;

  transform: translateX(-50%);

  width: 100%;

  border-bottom: 1px dotted #000000;
}


.con11{
  max-width: 650px; 
 text-align: left;
}

.con11 figcaption{
  position: relative;
  padding-top: 1rem;
}

.con11 figcaption::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 0;

  transform: translateX(-50%);

  width: 100%;

  border-bottom: 1px dotted #000000;
}


/* CONTENT/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/












/* Slider/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.slider{
    position: relative;
    width: 70%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.slider img{
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: contain; /* ili cover */
    
    opacity: 0;
    transition: opacity .5s, ease-in-out;
}

.slider img.active{
    opacity: 1;
}

.slider img.active{
    opacity:1;
}

.counter figcaption {
    font-family: Kommuna;
    letter-spacing: 0.1em;
}

/* Slider/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



.con22{
  border-left: dotted 1px #000;
}

.galery {
    padding: 4rem 0;
    display: grid;
    place-items: center;
    gap: 1rem;

    width: 100%;
}

.gtext1,
.gtext2 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.gtext1 h3,
.gtext2 figcaption {
    max-width: 70%;
}




/* futer/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer{
   height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  

}

footer p{
  font-size: 0.7rem;
}



/* futer/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


 

/*/MEDIA//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1600px) {
  html {
    font-size: 140%;
  }

}

@media screen and (max-width: 1380px) {
 

  
}



@media screen and (max-width: 1280px) {
  html {
    font-size: 130%;
  }

 


}


@media screen and (max-width: 1024px) {

  html {
    font-size: 120%;

  
  }

  .content{
    height: auto;
  grid-template-columns: 1fr;
  border-top: 5rem;
}

  header{
    padding: 2rem 0;
  }

  .con11{
    margin-top: 4rem;
  max-width: 100%; 
 text-align: center;
 
}

.con11 h1 {
  position: relative;
  padding-bottom: 1rem;
}

.con11 h1::after {
  content: "";

  position: absolute;
  left: 50%;
  bottom: 0;

  transform: translateX(-50%);

  width: 50%;

  border-bottom: 1px dotted #000000;
}

.con11 figcaption{
  position: relative;
  padding-top: 1rem;
}

.con11 figcaption::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 0;

  transform: translateX(-50%);

  width: 50%;

  border-bottom: 1px dotted #000000;
}





footer{
   padding: 1rem 0;
   align-items: baseline;
   justify-content: center;
}





}

   

  

  

@media screen and (max-width: 768px) {
  html {
    font-size: 110%;
  }

 
  

  
}

@media screen and (max-width: 640px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 90%;
  }
}
